dl {
border: 4px orange dotted;
}

dt {
font-weight: bold;
}

dd{
font-style: italic;
}

ul{
list-style-type: square;
}

ol{
list-style-type: upper-roman;
}

ol ol{
list-style-type: lower-greek;
}

ol ol ol{
list-style-type: lower-alpha;
}

.important:hover{
border: 2px blue solid;
background-color: silver;
color: red;
max-width: 8cm;
max-height: 2.5cm;
margin: 1cm;
padding: 0.5cm;
overflow: auto;
}

li:first-letter{
font-size: 20px;
}

.important:first-line{
font-style: italic;
font-weight: bold;
}
